{% extends 'base.html' %}
{% load static %}

{% block body %}
{% if request.user.is_authenticated %}
{% if request.user.doctor %}
<h2 class="bg-dark text-light py-1 px-3 my-3">Your Posts </h2>

{% for p in doctors_post %}
<div class="row mb-2 m-3">
    <div class="col-md-8 ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 background shadow-lg h-md-250 position-relative">
            <h6 class="p-2">Posted by :- <span class="text-info">@{{request.user}}</span> </h6>
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"> Title:- {{p.title}}</strong>
                <h3 class="mb-0">Category:- {{p.category}}</h3>
                <p class="card-text mb-auto ">Summary:- <span class="summary">{{p.summary}}</span> </p>
                <h5 class="card-text mb-auto">Content:- {{p.content}}</h5>
            </div>
            <div class="col-auto d-none d-lg-block">
                <div class="col-md-5 my-1">
                    <img src="{{p.image.url}}" class="image-fluid" width="300" height="150" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor%}
{% else %}
<h2 class="bg-dark text-light py-1 px-3 my-3">Mental Heath Category </h2>
{% for p in mh %}
<div class="row mb-2 m-3">
    <div class="col-md-8 ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg background h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h6 class="">Posted by :- <span class="text-info">@{{p.user}}</span> </h6>
                <strong class="d-inline-block mb-2 text-primary">Title:- {{p.title}}</strong>
                <h3 class="mb-0">Category:- {{p.category}}</h3>
                <p class="card-text mb-auto ">Summary:- <span class="summary">{{p.summary}}</span> </p>
                <h5 class="card-text mb-auto">Content:- {{p.content}}</h5>
            </div>
            <div class="col-auto d-none d-lg-block">
                <div class="col-md-5 my-1">
                    <img src="{{p.image.url}}" class="image-fluid" width="300" height="150" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}
<h2 class="bg-dark text-light py-1 px-3 my-3">Heart Disease Category </h2>
{% for p in hd %}
<div class="row mb-2 m-3">
    <div class="col-md-8 ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg background h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h6 class="">Posted by :- <span class="text-info">@{{p.user}}</span> </h6>
                <strong class="d-inline-block mb-2 text-primary">Title:- {{p.title}}</strong>
                <h3 class="mb-0">Category:- {{p.category}}</h3>
                <p class="card-text mb-auto ">Summary:- <span class="summary">{{p.summary}}</span> </p>
                <h5 class="card-text mb-auto">Content:- {{p.content}}</h5>
            </div>
            <div class="col-auto d-none d-lg-block">
                <div class="col-md-5 my-1">
                    <img src="{{p.image.url}}" class="image-fluid" width="300" height="150" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<h2 class="bg-dark text-light py-1 px-3 my-3">Lungs Disease Category </h2>
{% for p in ld %}
<div class="row mb-2 m-3">
    <div class="col-md-8 ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg background h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h6 class="">Posted by :- <span class="text-info">@{{p.user}}</span> </h6>
                <strong class="d-inline-block mb-2 text-primary">Title:- {{p.title}}</strong>
                <h3 class="mb-0">Category:- {{p.category}}</h3>
                <p class="card-text mb-auto ">Summary:- <span class="summary">{{p.summary}}</span> </p>
                <h5 class="card-text mb-auto">Content:- {{p.content}}</h5>
            </div>
            <div class="col-auto d-none d-lg-block">
                <div class="col-md-5 my-1">
                    <img src="{{p.image.url}}" class="image-fluid" width="300" height="150" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}
<h2 class="bg-dark text-light py-1 px-3 my-3">Fracture Category </h2>
{% for p in fc %}
<div class="row mb-2 m-3">
    <div class="col-md-8 ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg background h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h6 class="">Posted by :- <span class="text-info">@{{p.user}}</span> </h6>
                <strong class="d-inline-block mb-2 text-primary">Title:- {{p.title}}</strong>
                <h3 class="mb-0">Category:- {{p.category}}</h3>
                <p class="card-text mb-auto ">Summary:- <span class="summary">{{p.summary}}</span> </p>
                <h5 class="card-text mb-auto">Content:- {{p.content}}</h5>
            </div>
            <div class="col-auto d-none d-lg-block">
                <div class="col-md-5 my-1">
                    <img src="{{p.image.url}}" class="image-fluid" width="300" height="150" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endif %}

{% endblock body %}